[Unit]
Description=Calendar scraper for Team Liquid
After=network.target

[Service]
Type=simple
SyslogLevel=err

ExecStart=/usr/bin/python /home/habarnam/abs/tlcal/tlcalendar.py --calendar sc2 brw csg hot sma dot lol hrt 

