[Unit]
Description=Event scraper for TL
After=network.target

[Service]
Type=simple
SyslogLevel=err

ExecStart=/usr/bin/python /home/habarnam/abs/tlcal/tlcalendarevents.py --calendar sc2 brw csg hot sma dot lol hrt 

[Install]
WantedBy=multi-user.target
