[Unit]
Description=Event scraper for ESports events
After=network.target

[Service]
Type=simple

ExecStart=/home/habarnam/abs/tlcal/calendarevents --calendar sc2 brw csg hot sma dot lol hrt pfw


