[Unit]
Description=Mastodon tooter for ESport events
After=network.target

[Service]
WorkingDirectory=/home/habarnam/abs/tlcal
Type=simple
SyslogLevel=err

ExecStart=/home/habarnam/abs/tlcal/tooter --type sc2 qch dot csg lol --debug

