[Unit]
Description=Run tooter.service every 5 minutes after the hour

[Timer]
RandomizedDelaySec=11
OnCalendar=*:0:0/5

[Install]
WantedBy=timers.target
